body {
  margin: 0;
  padding: 0;
  background-color: hsl(212, 45%, 89%);
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  margin-top: 20px;
}

.qr-code {
  background-color: hsl(0, 0%, 100%);
  width: 360px;
  border-radius: 10px;
  padding: 20px;
}
.image img {
  display: block;
  width: 100%;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.title,
.content {
  font-family: "Outfit", sans-serif;
  text-align: center;
  padding: 10px 20px;
}
.title {
  color: hsl(218, 44%, 22%);
  font-weight: 700;
}
.content {
  color: hsl(220, 15%, 55%);
  font-size: 15px;
  font-weight: 400;
}

@media (max-width: 400px) {
  .container {
    width: 300px;
  }
  .image img {
    width: 100%;
  }
  .title {
    font-size: 1.5rem;
  }
}
